<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todolist</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <img src="./assets/img/logo.png" alt="logo">
        </header>
        <main>
            <div class="container">
                <div class="task_input">
                    <input v-model="newTodo" type="text" placeholder="Write here your new task">
                    <button @click="addTodo">Add Task</button>
                </div>
                <div class="tasks_header">
                    <div class="tasks_quantity">
                        <h4>Tasks</h4>
                        <div class="number">5</div>
                    </div>
                    <div class="tasks_completed">
                        <h4>Completed</h4>
                        <div class="number">3 di 5</div>
                    </div>
                </div>
                <div class="tasks">
                    <div v-if="tasks.length > 0" v-for="(task, index) in tasks" class="task">
                        <div @click="toggleDone(index)" :class="task.done ? 'done_circle' : 'check_circle'"></div>
                        <div :class="task.done && 'grayed'">{{task.text}}</div>
                        <img src="./assets/img/trash.png" alt="trashcan icon">
                    </div>
                    <div v-else class="no_task"> 
                        <img src="./assets/img/clipboard.png" alt=""> 
                        <div>Good Job! No todos left...</div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>