:root {
    --todo-darkest: #0D0D0D;
    --todo-darker: #1A1A1A;
    --todo-dark: #262626;
    --todo-secondary: #808080;
    --todo-light: #F2F2F2;
    --todo-secondary-dark: #333333;
    --todo-primary: #4EA8DE;
    --todo-primary-dark: #1E6F9F;
    --todo-accent: #8284FA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--todo-darker);
    font-family: sans-serif;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0 6rem 0;
    background-color: var(--todo-darkest);
}

main {
    color: var(--todo-light);
}

.task_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    height: 4rem;
    gap: .5rem;

    & input,
    button {
        height: 100%;
        border-radius: .5rem;
        border: 3px solid var(--todo-darkest);
        font-size: 1rem;
        color: var(--todo-light);
    }

    & input {
        flex-grow: 1;
        background-color: var(--todo-dark);
        padding-left: 1rem;

        &:focus {
            outline: none;
            border: 3px solid var(--todo-accent);
        }
    }

    & button {
        padding-inline: 1.5rem;
        background-color: var(--todo-primary-dark);
        cursor: pointer;
    }
}

.tasks_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem .5rem 1rem .5rem;

    .number {
        background-color: var(--todo-secondary-dark);
        border-radius: 1rem;
        padding: .25rem .75rem;
        margin-left: .75rem;
        line-height: 1rem;
    }

    .tasks_quantity {
        display: flex;
        align-items: center;

        & h4 {
            color: var(--todo-primary);
        }
    }

    .tasks_completed {
        display: flex;
        align-items: center;

        & h4 {
            color: var(--todo-accent);
        }
    }


}

.task {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    background-color: var(--todo-dark);
    border-radius: .5rem;
    margin-bottom: 1rem;
    border: 2px solid var(--todo-secondary-dark);

    & img {
        cursor: pointer;
        width: 15px;
        margin-left: auto;
    }

    .check_circle{
        border: 3px solid var(--todo-primary);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        margin-right: 1rem;
        cursor: pointer;
    }
}

.no_task{
    text-align: center;
    color: var(--todo-secondary);

    & img{
        margin: 1rem 0;
    }
}